<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <% if (box15.value !== 'left') { %>
        <script>
          // Automatically fill out boxes 1 to 8 if box15 is not left
          box1to8.forEach(box => box.value = 'default value');
        </script>
      <% } %>

      
      
</body>
</html>