<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Layout</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .box {
            width: 70px;
            height: 70px;
            margin: 10px;
            background-color: #ccc;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }

        .left {
            width: 460px;
        }

        .left .box:nth-child(even) {
            background-color: #ff5733;
        }

        .left .box:nth-child(odd) {
            background-color: #c70039;
        }

        .middle {
            width: 310px;
        }

        .middle .box:nth-child(even) {
            background-color: #900c3f;
        }

        .middle .box:nth-child(odd) {
            background-color: #581845;
        }

        .right {
            width: 160px;
        }

        .right .box:nth-child(even) {
            background-color: #c7b198;
        }

        .right .box:nth-child(odd) {
            background-color: #a9927d;
        }
        .line {
             width: 390px;
            height: 0;
            border: 1px solid black;
            border-radius: 1px;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="box" id="box1">1</div>
            <div class="box" id="box2">2</div>
            <div class="box" id="box3">3</div>
            <div class="box" id="box4">4</div>
            <div class="box" id="box5">5</div>
            <div class="box" id="box6">6</div>
            <div class="box" id="box7">7</div>
            <div class="box" id="box8">8</div>
          </div>
          <div class="middle">
            <div class="box" id="box9">9</div>
            <div class="box" id="box10">10</div>
            <div class="box" id="box11">11</div>
            <div class="box" id="box12">12</div>
          </div>
          <div class="right">
            <div class="box" id="box13">13</div>
            <div class="box" id="box14">14</div>
          </div>
          <div class="right">
            <div class="box" id="box15">15</div>
          </div>
          
          <% for (let i=0; i< teams.length; i++ ){%>
            

          <%}%>

          <script>
            // get all the boxes by class name
            const boxes = document.getElementsByClassName('box');
          
            // loop through the boxes and add an event listener to each one
            for (let i = 0; i < boxes.length; i++) {
              boxes[i].addEventListener('click', function() {
                console.log('Box ' + (i+1) + ' clicked!');
              });
            }
          </script>
          
        <!-- <div class="line"></div> -->
    </div>
</body>
</html>
