<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Sports Teams
    </title>
</head>
<body>
    <h1>
        My teams:
    </h1>
    <% for (let i=0; i < teams.length; i++){%>
        <a href="/teams/<%= teams[i]._id %>">
            <div>
                <h3>
                    <%= teams[i].name %>
                </h3>
                <h5>
                    City: <%= teams[i].city %>
                </h5>
                <h5>
                    Sport: <%= teams[i].sport %>
                </h5>
            </div>
        </a>
    <% } %>
    <a href="/teams/new" >
        <button>
            New Team
        </button>
    </a>
</body>
</html>