<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Layout</title>
    <style>
        body {
            background-image: url('https://png.pngtree.com/back_origin_pic/04/16/79/e84520b4712625cb7fc15e69b6d25ca6.jpg');
            background-size: cover;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .box {
            width: 70px;
            height: 70px;
            margin: 10px;
            background-color: #ccc;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }

        .left {
            width: 460px;
        }

        .left .box:nth-child(even) {
            background-color: #ff5733;
        }

        .left .box:nth-child(odd) {
            background-color: #c70039;
        }

        .middle {
            width: 310px;
        }

        .middle .box:nth-child(even) {
            background-color: #900c3f;
        }

        .middle .box:nth-child(odd) {
            background-color: #581845;
        }

        .right {
            width: 160px;
        }

        .right .box:nth-child(even) {
            background-color: #c7b198;
        }

        .right .box:nth-child(odd) {
            background-color: #a9927d;
        }
        .line {
             width: 390px;
            height: 0;
            border: 1px solid black;
            border-radius: 1px;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="left">
          <input class="box" type="text" id= "box_1" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <button type="button" onclick="grabBoxValues(event)">start</button>
        </div>
        <div class="middle">
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
        </div>
        <div class="right">
          <input class="box" type="text" placeholder="Enter value" />
          <input class="box" type="text" placeholder="Enter value" />
          <select class="box" id="box15">
            <option value="" selected disabled>Choose an option</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
          </select>
        </div>
      </div>
          
    
          <script>
            // Select the boxes
            const boxes = document.querySelectorAll('.box');
            const box1to8 = document.querySelectorAll('.left .box');
            const box9to12 = document.querySelectorAll('.middle .box');
            const box13and14 = document.querySelectorAll('.right .box');

            const box1 = document.getElementById("box_1");
            function grabBoxValues (event){
                console.log(box1.value)
            }

            // Disable boxes 9 to 12 and 13 and 14 initially
            box9to12.forEach(box => box.disabled = true);
            box13and14.forEach(box => box.disabled = true);
            document.querySelector('#box15').disabled = true;

            // Add an event listener to box1to8
            box1to8.forEach(box => box.addEventListener('input', function() {
                // Check if all box1to8 are filled out
                const isBox1to8Filled = Array.from(box1to8).every(box => box.value.trim() !== '');

                // If all box1to8 are filled out, enable boxes 9 to 12
                if (isBox1to8Filled) {
                box9to12.forEach(box => box.disabled = false);
                }
            }));

            // Add an event listener to box9to12
            box9to12.forEach(box => box.addEventListener('input', function() {
                // Check if all box9to12 are filled out
                const isBox9to12Filled = Array.from(box9to12).every(box => box.value.trim() !== '');

                // If all box9to12 are filled out, enable boxes 13 and 14
                if (isBox9to12Filled) {
                box13and14.forEach(box => box.disabled = false);
                }
            }));

            // Add an event listener to box13and14
            box13and14.forEach(box => box.addEventListener('input', function() {
                // Check if all box13and14 are filled out
                const isBox13and14Filled = Array.from(box13and14).every(box => box.value.trim() !== '');

                // If all box13and14 are filled out, enable box15
                if (isBox13and14Filled) {
                document.querySelector('#box15').disabled = false;
                }
            }));
          </script>
    </div>
</body>
</html>
